@model Worker
@{
    Layout = "_Layout";
}


<div class="divForForm">    
    <div class="myForm">
        <form asp-action="List" asp-controller="Worker">
            <button type="submit" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
        
        <form method="post" asp-controller="Worker" asp-action="Create">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="lastName">Фамилия*</label>
                    <input asp-for="LastName" required type="text" class="form-control" id="lastName" placeholder="Фамилия" value="@Model?.LastName">
                    @Html.ValidationMessageFor(model => model.LastName, null, new { style = "color:red" })
                </div>
                <div class="form-group col-md-6">
                    <label for="firstName">Имя*</label>
                    <input asp-for="FirstName" required type="text" class="form-control" id="firstName" placeholder="Имя" value="@Model?.FirstName">
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { style = "color:red" })
                </div>



                <div class="form-group col-md-6">
                    <label for="middleName">Отчество*</label>
                    <input asp-for="MiddleName" required type="text" class="form-control" id="middleName" placeholder="Отчество" value="@Model?.MiddleName">
                    @Html.ValidationMessageFor(model => model.MiddleName, null, new { style = "color:red" })
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Пароль*</label>
                    <input asp-for="Password" required type="text" class="form-control" id="password" placeholder="Пароль" value="@Model.Password">
                    @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:red" })
                </div>
                <div class="form-group col-md-6">
                    <label for="Email">Email*</label>
                    <input asp-for="Email" required type="email" class="form-control" id="Email" placeholder="Почта">
                    @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red" })
                </div>
                <div class="form-group col-md-6">
                    <label for="accessRights">Права доступа к сайту*</label>
                    <select id="accessRights" required class="form-control" asp-for="AccessRightId" asp-items="ViewBag.AccessRights"></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="positions">Должность*</label>
                    <select id="positions" required class="form-control" asp-for="PositionId" asp-items="ViewBag.Positions"></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="qualifications">Квалификация*</label>
                    <select id="qualifications" required class="form-control" asp-for="QualificationId" asp-items="ViewBag.Qualifications"></select>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Добавить сотрудника</button>
        </form>

    </div>
</div>