@model IEnumerable<Worker>
@{ 
    Layout = "_Layout";
}
@if (User.IsInRole("Администратор"))
{
    <a class="addWorker" asp-action="Create" asp-controller="Worker">
        <img src="~/img/plus.png" width="60" height="60"/>
    </a>
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">Индентификатор</th>
                <th class="text-center">ФИО</th>
                <th class="text-center">Должность</th>
                <th class="text-center">Квалификация</th>
                <th class="text-center">Права доступа</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var worker in Model)
            {
                <tr>
                    <th>
                        @if (User.IsInRole("Администратор"))
                        {
                            <a asp-controller="Worker" asp-action="Edit" asp-route-id="@worker.Id" style="float:left;">Редактирование</a>
                            
                            @if(AuthorizedUser.GetUser().Id != worker.Id)
                            {   
                                <span style="float:left;">|</span>
                                <a asp-controller="Worker" asp-action="Delete" asp-route-id="@worker.Id" style="float:left;">Удалить</a>
                            }
                        }
                    </th>
                    <th class="text-center">@worker.Id</th>
                    <td class="text-center">@worker.FIO()</td>
                    <td class="text-center">@worker.Position?.Name</td>
                    <td class="text-center">@worker.Qualification?.Name</td>
                    <td class="text-center">@worker.AccessRight?.Name</td>
                </tr>   
            }    
        </tbody>
    </table>
</div>