@model IEnumerable<Subject>
@{
    Layout = "_Layout";
}
<a class="addWorker" asp-action="Create" asp-controller="Subject">
    <img src="~/img/plus.png" width="60" height="60" />
</a>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">Индентификатор</th>
                <th class="text-center">Наименование предмета</th>
                <th class="text-center">Преподаватель</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var subject in Model)
            {
                <tr>
                    <th>
                        <a asp-controller="Subject" asp-action="Edit" asp-route-id="@subject.Id" style="float:left;">Редактирование</a>
                        @if(subject.Groups.Count == 0)
                        {
                            <span style="float:left;">|</span>
                            <a asp-controller="Subject" asp-action="Delete" asp-route-id="@subject.Id" style="float:left;">Удалить</a>
                        }
                    </th>
                    <th class="text-center">@subject.Id</th>
                    <td class="text-center">@subject.Name</td>
                    <td class="text-center">@subject.Worker?.FIO()</td>
                </tr>
            }
        </tbody>
    </table>
</div>