@model IEnumerable<Group>
@{
    Layout = "_Layout";
}
@if (User.IsInRole("Администратор"))
{
    <a class="addWorker" asp-action="Create" asp-controller="Group">
    <img src="~/img/plus.png" width="60" height="60" />
</a>}
<div class="myGroup container">
            
    @foreach (var group in Model)
    {

        <div>
            @if (User.IsInRole("Администратор"))
            {
                <a asp-controller="Group" asp-action="Edit" asp-route-id="@group.Id" style="float:left;">Редактирование</a>
                @if (group.Students?.Count == 0)
                {
                    <span style="float:left;">|</span>
                    <a asp-controller="Group" asp-action="Delete" asp-route-id="@group.Id" style="float:left;">Удалить</a>
                }
                }
                <pre>    </pre>
                <a asp-controller="Group" asp-action="Information" asp-route-id="@group.Id">@group.Name (@group.Students?.Count)</a>
            
        </div>
    }
    
</div>
